# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# macOS system files
.DS_Store

# Editor files
.vscode/
.idea/

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

#
